<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <!-- sign on nav bar -->
    <% include ../partials/signIn.ejs %>
    <div class="main">
      <div class='aside'>
        <% include ../partials/aside.ejs %>
      </div>
      <div class='container'>
        <div class='aboutInfo'>
          <p class='aboutP'>
            Welcome! With bookshelf. you can store of all your favorite titles all in one place. Simply just click 'Add a Book' to add to your personal directory. Once a book is in your directory, you can click the cover image to learn more about that title. bookshelf. was created by a litature lover who was looking for an easy way to keep track of all their favorite titles. </p>
            <img class='catPic' src='http://critterconsulting.com/info/wp-content/uploads/cat-books.jpg' />
        </div>
      </div>
    </div>
    <!-- footer partial -->
  </body>
</html>
