<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <!-- Welcome div -->


    <div class="main">
      <div class='aside'>
        <% include ../partials/aside.ejs %>
        <div class='userSection'>
          <div class='welcome'>
            <% if(currentUser) { %>
              Welcome <i><%=currentUser.username%>!</i>
              <% } else { %>
                Welcome!
                <% } %>
          </div>
          <div class='signOnLinks'>
              <% if (!currentUser) { %>
            <a href='/users/new'><input class='create' type="submit" value="Create User"/></a>
                <% } %>
                <% if (!currentUser) { %>
            <a href='/sessions/new'><input class='signIn' type="submit" value="Sign In "/></a>
                <% } else { %>
            <form class='logoutBtn' action="/sessions/logout?_method=DELETE" method="POST">
              <input type="submit" value="Logout"/>
            </form>
                <% } %>
          </div>
        </div>
      </div>


      <div class='container'>
        <% for(let i = 0; i < books.length; i++) { %>
          <div class="card">
            <a href='/books/<%=books[i].id%>'><img class='bookImg 'src="<%=books[i].img %>"></a>
          </div>
          <% } %>

      </div> <!-- closing container -->
  </div><!-- closing main -->
    <!-- footer partial ? -->
  </body>
</html>
