<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <!-- app.js -->
    <script src="js/app.js" charset="utf-8"></script>
    <!-- materialize cdn JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </head>
  <body>
    <!-- nav partial -->
    <% include ../partials/nav.ejs %>
    <!-- main div -->
    <div class='container'>
      <div class='carousel-container'>

        <div class='carousel-button previous'>
          <button class='carousel-button previous'><</button>
        </div>

        <div class='carousel-images'>


            <% for(let i = 0; i < books.length; i++) { %>
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%=books[i].img %>">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">...</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%=books[i].title%><i class="material-icons right">X</i></span>
            <p><%=books[i].synopsis%></p>
            <p><a href='/books/<%=books[i].id%>'>Learn more about this title</a></p>
          </div>
        </div>
        <% } %>

      </div>


        <div class='carousel-button next'>
          <button class='carousel-button next'>></button>
        </div>
      </div>
    </div>
    <!-- footer partial -->
  </body>
</html>
