<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="main">
      <div class='aside'>
        <% include ../partials/aside.ejs %>
      </div>
      <div class='container'>
        <% for(let i = 0; i < books.length; i++) { %>
          <div class="card">
            <img class='bookImg 'src="<%=books[i].img %>">
            <div class="card-reveal">
              <%=books[i].title%>
              <p><a href='/books/<%=books[i].id%>'>More</a></p>
            </div>
          </div>
          <% } %>

        </div>
    </div>
    <!-- footer partial -->
  </body>
</html>
