<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <!-- sign on nav bar -->
    <% include ../partials/signIn.ejs %>
    <div class="main">
      <div class='aside'>
        <% include ../partials/aside.ejs %>
      </div>
      <div class='container'>
        <% for(let i = 0; i < books.length; i++) { %>
          <div class="card">
            <a href='/books/<%=books[i].id%>'><img class='bookImg 'src="<%=books[i].img %>"></a>
          </div>
          <% } %>

        </div> <!-- closing container -->
    </div>  <!-- closing main -->
    <!-- footer partial ? -->
  </body>
</html>
