<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>bookshelf.</title>
  </head>
  <body>
    <!-- header partial -->
    <!-- nav partial?  -->
    <h1>Index Page</h1>
    <!-- main div -->
    <div id='main'>
        <% for(let i = 0; i < books.length; i++) { %>
          <div class='bookCard'>

            <div class='bookTitle'><%=books[i].title %></div>
            <br />
            <div class='bookAuthor'><%=books[i].author %></div>
            <br />
            <div class='bookImg'><img src='<%=books[i].img %>'></div>
            <br />
            <div class='bookSynopsis'><%=books[i].synopsis %></div>
          </div>

        <% } %>
    </div>
    <!-- footer partial -->
  </body>
</html>
