<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>bookshelf.</title>
  </head>
  <body>
    <!-- header partial -->
    <!-- nav partial?  -->
    <h1>Index Page</h1>
    <!-- main div -->
    <div id='main'>
    </div>
      main
    <div class='bookCard'>
      book
    </div>
    <!-- footer partial -->
  </body>
</html>
