<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add New Book</title>
  </head>
  <body>
    <h1>Add New Book</h1>
    <form action='/books' method='POST'>
      Title: <input type='text' name='title' />
      <br />
      Author: <input type='text' name='author' />
      <br />
      Image: <input type='text' name='img' />
      <br />
      Synopsis: <textarea type='text' name='synopsis'></textarea>
      <button>Add Book</button>
    </form>
  </body>
</html>
