<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <!-- sign on nav bar -->
    <% include ../partials/signIn.ejs %>
    <div class='main'>
      <div class='aside'>
        <% include ../partials/aside.ejs %>
      </div>
      <div class='container'>
        <div class='card newCard'>
          <h4>Add New Book</h4>
          <form action='/books' method='POST'>
            Title: <input type='text' name='title' />
            <br />
            Author: <input type='text' name='author' />
            <br />
            Image: <input type='text' name='img' />
            <br />
            Synopsis: <input type='text' name='synopsis' />
            <br />
            <button>Add Book</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
