<div class='nav-links'>
  <a class='nav' href="/books">Home</a>
  <a  class='nav' href="/books/new">Add a Book</a>
  <a  class='nav' href="#">About</a>
  <a  class='nav' href="#">Contact Us</a>
</div>
