<nav >
  <div class="#43a047 green darken-3 nav-wrapper">
    <a href="#" class="brand-logo"><i class="material-icons">book</i>bookshelf.</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/books">Home</a></li>
      <li><a href="/books/new">Add a Book</a></li>
    </ul>
  </div>
</nav>
