<nav >
  <div class='nav-wrapper'>
    <img class='logoImg' src='https://images.ecosia.org/YJ4Zd2rd0rs0sdlOPyZ-hy6J5PY=/0x390/smart/https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Febook-icons%2F32%2FOpen_Book-512.png' />
    <div class='logoText'>
      <a href='/books'><h1>bookshelf.</h1></a>
        <p class='subLogo'><i>All of your favorites, all in one place.</i></p>
    </div>
  </div>
  <div class='headerDivide'>

  </div>
</nav>
