/* === general === */
* {
  margin: 0;
}

/* === nav === */
nav {
  text-align: center;
  background-color: #284B63;
  color: #D9D9D9;
}

/* === aside === */
.nav-links {
  border: 2px solid #284B63;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  list-style-type: none;
  min-width: 150px;
  margin: 0 5px 0 10px;
}

.nav {
  padding: 0 10px 0 10px;
  color: #284B63;
  text-decoration: none;
}

/* ==== main container === */
.main {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bookImg {
  width: 200px;
  height: 350px;
}

/* === cards ===*/
.showPageCard {
  max-width: 300px;
  border: 2px solid #284B63;
}

h3 {
  margin: 0;
}
